body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10283F;
}

header {
    background-color: #000000;
    padding: 30px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.imag {
    margin-right: 20px;
}

input[type="text"] {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    position: absolute; /* Mantenha se necessário */
    left: 860px; /* Ajuste conforme necessário */
    top: 200px; /* Ajuste conforme necessário */
    color: #fff;
    line-height: 1.6;
    text-align: left;
    max-width: 600px;
}

.text h1 {
    text-align: center;
}

.contact-button {
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    
   position: fixed; /* Muda de absolute para fixed */
   bottom: 80px; /* Distância do fundo da página */
   right: 20px; /* Distância da direita da página */
   z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}


.contact-buttonn {
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    
   position: fixed; /* Muda de absolute para fixed */
   bottom: 130px; /* Distância do fundo da página */
   right: 20px; /* Distância da direita da página */
   z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}